*{
    margin: 0;
    padding: 0;
}
ul, li, a{
    text-decoration: none;
    color: black;
    text-decoration: none;
}
a:hover{
    color: rgb(43, 43, 90);
}
html{
    width: 100%;
    height: 100%;
}
header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 90px;
    z-index: 1;
    background-color: white;
    border-bottom: solid 1px rgb(158, 156, 156);

}
/* 메인 상단 로고 */
#logo{
    width: 140px;
    height: 70px;
    float: left;
    margin-left: 120px;
    margin-top: 15px;
}
.main{
    
}
/* 거래물품 */
#main_1 h3{
   margin-top: 45px;
   float: left;
   color: black;
   font-size: 17px;
   margin-left: 50px;
}
/* 거래하기 */
#main_2 h3{
   margin-top: 45px;
   color: black;
   font-size: 17px;
   float: left;
   margin-left: 20px;
}

/* 검색창 */
.search {
    width: 40%;  
    float: left;
   align-content: center;
   margin-left: 30px;
   margin-top: 30px;
   
}
/* 검색어를 입력해 주세요 */
#search{
    width: 400px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    
}
/* 검색 */
#submit{
    width: 45px;
    height: 40px;
    background-color: rgb(88, 88, 255);
    color: white;
}
.login{
    color: darkgrey;
    font-size: 13px;
    margin-top: 50px;
    margin-left: 100px;
}
.login #lo{
    display: inline-block;
    margin-left: 20px;
}
.login #gin{
    display: inline-block;
}

.first{
    width: 100%;
    height: 800px;
    background-color: rgb(211, 230, 241);
}
.first h1{
    font-size: 40px;
    margin-left: 250px;
}
#first_1{
    padding-top: 250px;
}
.first p{
    margin-left:250px;
    margin-top: 4px;
    font-size: 18px;
}
#first_2{
    margin-top: 20px;
}.first img{
    width: 500px;
    height: 300px;
    float: right;
    margin-top: -200px;
    margin-right: 120px;
}
.second{
    width: 100%;
    height: 710px;
    text-align: end;
    background-color: rgb(247, 250, 212);
}
.second h1{
    display: inline-block;
    margin-top: 300px;
    margin-right: 200px;
    font-size: 40px;
}
.second p{
    display: inline-block;
    margin-right: 200px;
    margin-top: 2px;
    font-size: 20px;
}
.second img{
    width: 500px;
    height: 300px;
    margin-top: -200px;
    float: left;
    margin-left: 120px;
}
/* }
.third{
    width: 100%;
    height: 710px;
    background-color:  rgb(238, 241, 211);
}
.third h1{
    float: left;
    margin-top: 230px;
    
}
#third_1{
    color: rgb(56, 56, 196);
    margin-left: 100px;
}
.third h3{
    width: 12%;
    height:40px;
    background-color: rgb(243, 218, 76);
    border-radius: 10px;
    text-align: center;
    padding-top: 7px;
    padding-bottom: -7px;
    margin-top: 230px;
    margin-left: 100px;
} */
.last{
    width: 100%;
    height: 780px;
    background-color:  rgb(246, 244, 244);
}
/* 인기거래물품 */
.last h1{
    color: black;
    font-size: 40px;
    text-align: center;
    padding-top: 40px;
    font-weight: 600;
}
.new_1 ul{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.new_1 li{
    float: left;
    list-style: none;
    font-weight: 100;
}
#shape{
    font-weight: 700;
}
#date{
    font-weight: 400;
}
#price{
    font-weight: 300;
}
.new_1 p{
    font-weight: 100;
    font-size: 13px;
}
#newimg_descript{
    list-style: none;
    padding-top: 200px;
    display: flex;
    flex-direction: column; /* 세로로 정렬 */
}
#newimg_descript li{
    display: flex;
    align-self:flex-start;
}
.new_1 img{
    width: 200px;
    height: 200px;
}
#newimg_1{
    width: 200px;
    height: 200px;
    background: url(./img/img.1.jpg);
    background-size: cover;
    border-radius: 10%;
}
#newimg_2{
    width: 200px;
    height: 200px;
    background: url(./img/img.1.jpg);
    background-size: cover;
    border-radius: 10%;
}
#newimg_3{
    width: 200px;
    height: 200px;
    background: url(./img/img.1.jpg);
    background-size: cover;
    border-radius: 10%;
}
#newimg_4{
    width: 200px;
    height: 200px;
    background: url(./img/img.1.jpg);
    background-size: cover;
    border-radius: 10%;
}


.new_2 ul{
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}
.new_2 li{
    float: left;
    list-style: none;
    font-weight: 100;
}
#price{
    font-weight: 600;
}
.new_2 p{
    font-weight: 100;
    font-size: 13px;
}
.new_2 img{
    width: 200px;
    height: 200px;
}

#newimg_11{
    width: 200px;
    height: 200px;
    background: url(./img/img.1.jpg);
    background-size: cover;
    border-radius: 10%;
}
#newimg_22{
    width: 200px;
    height: 200px;
    background: url(./img/img.1.jpg);
    background-size: cover;
    border-radius: 10%;
}
#newimg_33{
    width: 200px;
    height: 200px;
    background: url(./img/img.1.jpg);
    background-size: cover;
    border-radius: 10%;
}
#newimg_44{
    width: 200px;
    height: 200px;
    background: url(./img/img.1.jpg);
    background-size: cover;
    border-radius: 10%;
}
/* 인기 검색어 */
/* #title{
    color: black;
    text-align: center;
    
} */














/* div.intro_1{
    position: absolute;
    width: 70%;
    height: 300px;
    animation-name: move;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    margin-top: 200px;
    margin-left: 230px;
  }

  @keyframes move {
    0%   { background-image: url(img/img.4.jpg);    left: 0px;   top: 0px; }
    25%  { background-image: url(img/img.5.jpg); left: 0px; top: 0px; }
    50%  { background-image: url(img/img.6.svg);   left: 0px; top: 0px; }
    75%  { background-image: url(img/img.7.png);  left: 0px;   top: 0px; }
    100% { background-image: url(img/img.8.png);    left: 0px;   top: 0px; }
  }

#intro_img{
    width: 100%;
    height: 200px;
    margin-top: 320px;
    margin-left: 0;
    
} */ 